@import "tailwindcss";
/* index.css */
body {
  font-family: 'Roboto', Arial, sans-serif;
}

/* global.css or index.css */
:root {
    --color-primary: #FBBF24;   /* yellow-500 */
    --color-primary-dark: #B45309; /* yellow-700 */
    --color-text-primary: #111827; /* gray-900 */
    --color-bg: #FFFFFF;
    --color-bg-dark: #1F2937; /* gray-800 */
    --color-accent: #3B82F6; /* blue-500 */
    --color-bg-light: #F3F4F6;       /* gray-100 (light gray) */
  }
  